html,head,body { padding:0; margin:0; }

html {
    min-width: 800px;
    width:70%;
}

body {
    text-align: left;    
    font-family: sans-serif;
    text-indent: 1em;
}


h1 {
    text-align: center;
}